
DL/Building Deep Neural Network/Building_your_Deep_Neural_Network.ipynb
DL/Building Deep Neural Network/images/backprop_kiank.png
DL/Building Deep Neural Network/images/final outline.png
DL/Building Deep Neural Network/images/linearback_kiank.png
DL/Building Deep Neural Network/images/mn_backward.png
DL/Building Deep Neural Network/images/model_architecture_kiank.png
DL/Deep Neural Network - Cat Classification/.ipynb_checkpoints/Deep Neural Network - Cat Classification-checkpoint.ipynb
DL/Building Deep Neural Network/.ipynb_checkpoints/Building_your_Deep_Neural_Network-checkpoint.ipynb
DL/Deep Neural Network - Cat Classification/images/2layerNN_kiank.png
DL/Deep Neural Network - Cat Classification/images/imvector.png
DL/Deep Neural Network - Cat Classification/images/imvectorkiank.png
DL/Deep Neural Network - Cat Classification/images/LlayerNN_kiank.png
DL/Deep Neural Network - Cat Classification/images/my_image.jpg
