
DL/Building Deep Neural Network/Building_your_Deep_Neural_Network.ipynb
DL/Building Deep Neural Network/images/backprop_kiank.png
DL/Building Deep Neural Network/images/final outline.png
DL/Building Deep Neural Network/images/linearback_kiank.png
DL/Building Deep Neural Network/images/mn_backward.png
DL/Building Deep Neural Network/images/model_architecture_kiank.png
